<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1>Produtos da Categoria {{ categoria.nome }} </h1>
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Estoque</th>
            <th>Imagem</th>
            <th></th>
            <th>Descrição</th>
        </tr>
        {% for prod in produtos %}
        <tr>
            <td>{{ prod.nome }}</td>
            <td><a herf="/categorias/{{ prod.categoria.id }}">{{ prod.categoria}}</a></td>
            <td>R$ {{ prod.preco}}</td>
            <td>{{ prod.estoque}}</td>
            <td><img src="{{ prod.imagem.url}}" width="80"></td>
            <td>{% if prod.lancamento == True %}
                Lançamento!!
                {% endif %}
            </td>
            <td><a href = "/produto_detalhe/{{produto.id}}">Ver mais</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
    </html>